<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Flask</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1> Search For Titles </h1>
    
    <form method="POST" action="/search">
      <input type="text" name= "Search Names">
      <input type="submit" value="Search">
    </form>
    <table border="2">
      <tr>
        <th>Series Title</th>
        <th>Useful Links</th>
      </tr>
      {% for k, v in nameDict.items() %}
        <tr>
          <td>{{ v }}</td>
          <td><a href="{{ url_for('historical_graph', Id = k) }}">Historical Graph</a></td>
          <td><a href="{{ url_for('highest_correlations', Id = k) }}">Highest Correlations</a></td>
        </tr>
      {% endfor %}
    </table>
    {% endblock %}
  </body>
</html>